/bin/
obj/*
/obj/*
obj/Debug/net8.0/*
/obj/Debug/net8.0/
/obj/*/*
Manchester/bin/
Manchester/obj/
test/ManchesterOwl2.Unit.Tests/bin/
test/ManchesterOwl2.Unit.Tests/obj/
Manchester/Lexer.fsi
Manchester/Parser.fs
Manchester/Parser.fsi
NNF.fs
Manchester/Lexer.fs
TurtleParser/.antlr
TurtleParser/bin/
TurtleParser/obj/
ManchesterAntlr/.antlr/
ManchesterAntlr/bin/
ManchesterAntlr/obj/
test/ManchesterAntlr.Unit.Tests/bin/
test/ManchesterAntlr.Unit.Tests/obj/
test/Reasoner.Integration.Tests/bin/
test/Reasoner.Integration.Tests/obj/

.fake