/bin/
obj/*
/obj/*
obj/Debug/net8.0/*
/obj/Debug/net8.0/
/obj/*/*
FslExYaccTesting/Lexer.fs
FslExYaccTesting/Lexer.fsi
FslExYaccTesting/Parser.fs
FslExYaccTesting/bin/Debug/net8.0/AlcTableau.dll
FslExYaccTesting/bin/Debug/net8.0/AlcTableau.pdb
FslExYaccTesting/bin/Debug/net8.0/FParsec.dll
FslExYaccTesting/bin/Debug/net8.0/FParsecCS.dll
FslExYaccTesting/bin/Debug/net8.0/FSharp.Core.dll
FslExYaccTesting/bin/Debug/net8.0/FsLexYacc.Runtime.dll
FslExYaccTesting/Parser.fsi
FslExYaccTesting/obj/
FslExYaccTesting/bin/
ManchesterOwl2/bin/
ManchesterOwl2/obj/
test/ManchesterOwl2.Unit.Tests/bin/
test/ManchesterOwl2.Unit.Tests/obj/

