/bin/
obj/*
/obj/*
obj/Debug/net8.0/*
/obj/Debug/net8.0/
/obj/*/*
Manchester/bin/
Manchester/obj/
test/ManchesterOwl2.Unit.Tests/bin/
test/ManchesterOwl2.Unit.Tests/obj/
Manchester/Lexer.fsi
Manchester/Parser.fs
Manchester/Parser.fsi
