<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="AlcTableau Common Parser local Debug" value="../../src/Parser/bin/Debug/" />
		<add key="AlcTableau.Turtle.Local Debug" value="../../src/Turtle.Parser/bin/Debug/" />
		<add key="Datalog Parser.Local Debug" value="../../src/Datalog.Parser/bin/Debug/" />
		<add key="Datalog Parser.Local Release" value="../../src/Datalog.Parser/bin/Release/" />
        <add key="AlcTableau Rdf local Debug" value="../../src/Rdf/bin/Debug/" />
		<add key="AlcTableau Api local Debug" value="../../src/Api/bin/Debug/" />
		<add key="AlcTableau.Turtle.Local Release" value="../../src/Turtle.Parser/bin/Release/" />
		<add key="AlcTableau Rdf local Release" value="../../src/Rdf/bin/Release/" />
		<add key="AlcTableau Api local Release" value="../../src/Api/bin/Release/" />
		<add key="AlcTableau Common Parser local Release" value="../../src/Parser/bin/Release/" />
		
	</packageSources>
</configuration>