<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
        <add key="AlcTableau.Turtle.Local Debug" value="../../src/TurtleAntlr/bin/Debug/" />
        <add key="AlcTableau Rdf local Debug" value="../../src/Rdf/bin/Debug/" />
		<add key="AlcTableau Api local Debug" value="../../src/Api/bin/Debug/" />
		<add key="AlcTableau.Turtle.Local Release" value="../../src/TurtleAntlr/bin/Release/" />
		<add key="AlcTableau Rdf local Release" value="../../src/Rdf/bin/Release/" />
		<add key="AlcTableau Api local Release" value="../../src/Api/bin/Release/" />
	</packageSources>
</configuration>