<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
        <add key="AlcTableau.Turtle.Local" value="../../src/TurtleAntlr/bin/Debug/" />
        <add key="AlcTableau Rdf local package" value="../../src/Rdf/bin/Debug/" />
		<add key="AlcTableau Api local package" value="../../src/Api/bin/Debug/" />
	</packageSources>
</configuration>